{% extends 'base.html.twig' %}

{% form_theme form 'registro/form_errors.html.twig' %}

{% block body %}

    <div class="alert alert-success mt-5" role="alert">
        <h4 class="alert-heading">{{evento}} - Registro cerrado</h4>
        <p>Hemos terminado con el proceso de registro. Agradecemos mucho tu interés.</p>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ asset('js/onChange.js')}}"></script>
{% endblock %}





